{% extends 'reseller/reseller_master.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="static/assets/css/add_pro.css">
    
    

  <div id="main">
    <h1 style="color: brown;"><center>ADD PRODUCT</center></h1>
    <div class="container">
        <form action="/action_page.php">
          <div class="row">
            <div class="col-25">
              <label for="fname">Category</label>
            </div>
            <div class="col-75">
              <input type="text" id="fname" name="firstname" placeholder="clothing">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="lname">Product Name</label>
            </div>
            <div class="col-75">
              <input type="text" id="lname" name="lastname" placeholder=" ">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="lname">Product No</label>
            </div>
            <div class="col-75">
              <input type="text" id="lname" name="lastname" placeholder=" ">
            </div>
          </div>
          
          <div class="row">
            <div class="col-25">
              <label for="subject">Product Description</label>
            </div>
            <div class="col-75">
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="lname">Price</label>
            </div>
            <div class="col-75">
              <input type="text" id="lname" name="lastname" placeholder=" ">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="lname">Avialable Stock</label>
            </div>
            <div class="col-75">
              <input type="text" id="lname" name="lastname" placeholder=" ">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="lname">Upload image</label>
            </div>
            <div class="col-75">
              <input type="text" id="lname" name="lastname" placeholder="choose File   No file choosen ">
            </div>
          </div><br><br>

          <div class="row1">
            <input type="submit" value="Add" id="btn" >
          </div>
        </form>
      </div>
      
    {% endblock %}
